fastapi
uvicorn
pydantic-settings
jinja2
python-multipart
chromadb
llama-parse
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-openai
llama-index-postprocessor-cohere-rerank
cohere
openai
pyyaml
trulens
nest-asyncio
numpy
